
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="vista" class="row">
    <div class="card card-xxl-stretch mb-5 mb-xl-8">
        <!--begin::Header-->
        <div class="card-header border-0 pt-5">
            <h3 class="card-title align-items-start flex-column">
                <span class="card-label fw-bolder fs-3 mb-1">Título</span>
                <span class="text-muted mt-1 fw-bold fs-7">Subtítulo</span>
            </h3>
            <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Click to add a user">
                <a href="#" class="btn btn-sm btn-light btn-active-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_invite_friends">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                    <span class="svg-icon svg-icon-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black" />
                            <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->Tipo Propiedad
                </a>
            </div>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body py-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6><b>PROPIETARIO: </b>@*@Model.usu_nombre*@</h6>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-md-4">Localidades del propietario:</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon input-sm"><span style="color:#24760d" class="fa fa-credit-card fa-fw" title="Nombres Socio" data-toggle="tooltip" data-placement="top"></span></span>
                                    <select id="ddlLocalidadUsurio" name="LocalidadUsuario" class="form-control input-sm">
                                        <option value="0">--Selecione localidad--</option>
                                        @*@foreach (var item in @ViewBag.LocalidadesUsuario)
                                {
                                    <option value="@item.loc_codigo">@item.loc_nombre</option>
                                }*@
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            @*@using (Html.BeginForm("SaveUsuarioData", "Propierario", FormMethod.Post, new { @class = "form-horizontal", id = "NewPropietarioDataForm", onsubmit = "return false" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="panel-body">

                            <div id="vistaPropietario">
                            </div>
                        </div>
                    }*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

